.customers
  padding-bottom: 25rem
  background: url('../img/bg-lines.svg') repeat 100% 100%
  &__section-title
    margin-bottom: 12.2rem
  &__card
    position: relative
    box-shadow: 0px 10px 50px rgba($dark, 0.04)
  &__image
    position: absolute
    top: 22px
    left: 18px
    z-index: 9
    width: 5.42rem
    height: 5.42rem
    border-radius: 50%
  &__text
    padding-left: 1.5rem
    padding-right: 1.8rem
    padding-bottom: 4rem
    max-width: 32rem
  &__pricetag
    position: relative
    padding-top: 1.2rem
    padding-right: 1rem
    padding-bottom: 1.2rem
    padding-left: 4.5rem
    background-repeat: no-repeat
    background-position: 15% 50%
    &--left
      margin-right: 1px
      background-image: url('../img/customers/icon-1.svg')
    &--right
      position: relative
      background-image: url('../img/customers/icon-2.svg')
  .pricetag
    &__wrap
      display: flex
      position: absolute
      left: 0
      bottom: -0.2rem
  .card
    &__title
      &--right
        margin-top: 1.2rem
        margin-left: 6.7rem
        margin-bottom: 2.5rem
    &__description
      font-family: 'Futura Book', sans-serif
      font-size: 1.07rem
      font-weight: normal
      color: $secondary
      line-height: 180%
.section
  &-title
    &__description
      &--small
        max-width: 25.7rem