.team
  padding-bottom: 30rem
  &__section-title
    margin-top: -35rem
  &__text
    max-width: 40rem
    margin: auto
    margin-bottom: 4.7rem
    text-align: center
    font-size: 1.428rem
    line-height: 2.41rem
    &::before
      content: ''
      display: block
      margin: auto
      margin-bottom: 2rem
      width: 55px
      height: 2px
      background-color: $primary
      border-radius: 30px
.card
  &__text
    &--small
     max-width: 17rem
  &__pricetag
    &--small
      font-size: 0.9rem
